<div id="hero">
	{{message}}
	<%=@name%>
</div>
<div id="hero-1">
	<span :title="message">
		di chuot qua la thay tieu de hien len
	</span>
</div>
<div id="hero-2">
	<p v-if="seen">
		Now you see me
	</p>
</div>
<div id="hero-3">
	<ul>
		<li v-for="text in texts">
			{{text.content}}
		</li>
	</ul>
</div>
<div id="hero-4">
	<p>{{message}}</p>
	<button @click="reverseMess" :title="title">Click here</button>
</div>
<div id="hero-5">
	<p>{{message}}</p>
	<input type="text" v-model="message">	
</div>
<div id="hero-6">
	<ul>
		<nguoi v-for="nguoi in danhsachs" :ten="nguoi.ten" :tuoi="nguoi.tuoi" :key="nguoi.ten"></nguoi>
	</ul>
</div>
<div id="hero-7">
	<p>Xau goc: {{message}}</p>
	<p>Xau dao nguoc: {{reverseMess}}</p>
</div>
<div id="hero-8">
	First name: <input v-model="firstname">
	Last name: <input v-model="lastname">
	<p>Fullname: {{fullname}}</p>
</div>
<div id="hero-9" :class="classO" :style="styleO">
	{{name}}
</div>
<%=javascript_pack_tag "hero"%>