<!-- <div id="users">
	<h1>User list</h1>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Admin?</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="user in users">
					<td>{{user.name}}</td>
					<td>{{user.email}}</td>
					<td>{{user.admin}}</td>
				</tr>
			</tbody>
		</table>
		<button @click="change">Change</button>	
</div> -->
<div id="app">
  <h1>Hello App!</h1>
  <p>
    <!-- use router-link component for navigation. -->
    <!-- specify the link by passing the `to` prop. -->
    <!-- `<router-link>` will be rendered as an `<a>` tag by default -->
    <router-link to="/foo">Go to Foo</router-link>
    <router-link to="/bar">Go to Bar</router-link>
  </p>
  <!-- route outlet -->
  <!-- component matched by the route will render here -->
  <router-view></router-view>
</div>
<%=javascript_pack_tag "user"%>