<!-- <div id="users">
	<h1>User list</h1>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Admin?</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="user in users">
					<td>{{user.name}}</td>
					<td>{{user.email}}</td>
					<td>{{user.admin}}</td>
				</tr>
			</tbody>
		</table>
		<button @click="change">Change</button>	
</div> -->
<div id="app">
  <h1>Hello App!</h1>
  <ul>    
    <li><router-link to="/foo">Go to Foo</router-link></li>
    <li><router-link to="/bar">Go to Bar</router-link></li>
    <li><router-link to="/user/1">Go to User 1</router-link></li>  
    <button @click="$router.push({name: 'named_post',params: {id: 5}})">Go to User 5</button>
  	<li><router-link to="/a">A redirect Foo</router-link></li>
    <li><router-link to="/b">B</router-link></li>
    <li><router-link to="/l">L alias B</router-link></li>
  </ul>  
  <router-view></router-view>
  <router-view name="a"></router-view>
  <router-view name="b"></router-view>
</div>
<%=javascript_pack_tag "user"%>
<%=stylesheet_pack_tag "user"%>